#Library Import 
Here primary libraries are import for visualization and data cleaning

In [ ]:

import numpy as np
import pandas as pd

In [ ]:
#This line of code is reading a CSV file named "Bengaluru_House_Data1.csv" from the same directory and storing the data in a pandas DataFrame called "data". The pandas function "read_csv()" is used to read the CSV file.
data = pd.read_csv('Bengaluru_House_Data1.csv')

In [ ]:
#`data.head()` is a method used to display the top 5 rows of a pandas DataFrame.
data.head()  # Shows top 5 details of the file

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [ ]:
data.shape  # Returns us with a tuple with (total number of details 'rows',details 'columns ')

(13320, 9)

In [ ]:
data.info()  # This function returns us with a series of details that are the columns of our csv dataset.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [ ]:
for column in data.columns:  # Iterating over all the columns in the dataset
    print(data[column].value_counts())  # This will print the count of each unique kind of the detail which are common in how many rows  
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK     5528
3 BHK     4857
4 BHK     1417
1 BHK      643
5 BHK      356
6 BHK      221
7 BHK      100
8 BHK       89
9 BHK       54
10 BHK      14
1 RK        13
11 BHK       4
27 BHK       1
19 BHK       1
16 BHK       1
43 BHK       1
14 BHK       1
12 BHK       1
13 BHK       1
18 BHK       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

In [ ]:
#`data.isna().sum()` is a function that checks for missing values (NULL values) in each column of the dataset and returns the sum of the missing values for each column. The `isna()` function returns a boolean value indicating whether each element in the dataset is missing or not, and the `sum()` function then sums up the number of missing values for each column.
data.isna().sum()  # This function helps us to checks and gives us the sum of the total NULL values of each columns

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [ ]:
data .drop(columns=['area_type','availability','society','balcony'],inplace=True)  # We are dropping the tables that are of no use to us in our predicitng model

In [ ]:
data.describe()  # This describes our numeric values

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [ ]:
data['location'].value_counts() # Counting values at different locations present in the dataset

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [ ]:
data['location'] = data['location'].fillna('Sarjapur Road')  # This function here fills the all the NULL values present in the column location

In [ ]:
data['size'] = data['size'].fillna('2 BHK')   # this will fill the null value with 2 bhk

In [ ]:
data['bath'] = data['bath'].fillna(data['bath'].median())  # this will fill bath value to its medain if not found

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [ ]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)  # Creating a new column of name bhk with only the number of bedroomes from the size columns

In [ ]:
data[data.bhk>20]  # getting the outlier of the dataset

                       location    size total_sqft  bath  price  bhk
1718  2Electronic City Phase II  27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 BHK       2400  40.0  660.0   43

In [ ]:
data['total_sqft'].unique()  # This fucntion return all the unique value in the total sqft column

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [ ]:
'''
In our total sqft column we had some of the entries in the form of range so we need to convert them into integer
or float so the function convertRange is the function which converts our range into float
'''

def convertRange(x):
    temp=x.split('-')  # Using the split function to split the range wiht '-'
    if len(temp)==2:  # If the lenght of the temp >2 which means there actually exists the range we are looking 
          return(float(temp[0])+float(temp[1]))/2  # Return the mean of the range in the place of the range 
    try:
        return float (x)  # If the entry is int convert it into float
    except:
        return None  # If any entry is NULL return None

In [ ]:
data['total_sqft']=data['total_sqft'].apply(convertRange) # We are applying our function top every value

In [ ]:
data['price_per_sqft']=data['price']*100000/data['total_sqft']  
# We are creating a new column named price_per_sqft where the data will be price in rupees divided by total_sqft

In [ ]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [ ]:
data['location']=data['location'].apply(lambda x: x.strip())  # Here spaces are truncated from front and back of each value of the column 
location_count=data['location'].value_counts()  # Now storing the count of all the locations

In [ ]:
location_count

Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: location, Length: 1295, dtype: int64

In [ ]:
location_count_less_10 = location_count[location_count<=10]  # Getting the count of all the locations where
# the listed properies are less than 10

In [ ]:
data['location']=data['location'].apply(lambda x:'other' if x in location_count_less_10 else x)
# Now re-assinging value to the locations where there are less than 10 houses to others to make the dataset more simplified

In [ ]:
# We are cleaning the not so fesiable flats where the total_sqft /bhk <300

data = data[((data['total_sqft']/data['bhk'])>=300)]

# After applying the function only >=300 values are kept all else are discarded

In [ ]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [ ]:
'''
We created this function because we see our price_per_sqft it could cost us as low as 267 rupees to as high as
176470 these values are not fesable as these may extend the extreme points of our graph or our model
So we delete these outliners with this function and keep only values which are one standard deviation away from the mean
i.e (6303.979357+or-4162.237981) now our data is more clean and feasible
'''
def remove_sqft(df):
    df_output = pd.DataFrame()  # It creates an empty datframe
    for key,subdf in df.groupby('location'):  # We are grouping are data with the help of location 
        mn = np.mean(subdf.price_per_sqft)  # Finding mean of price_per_sqft
        st = np.std(subdf.price_per_sqft)  # Calculating standar deviation of price_per_sqft
        
        # Now we are keeping only those values in which the price_per_sqft is one standard deviation ahead or one  behind the mean.
        gen_df = subdf[(subdf.price_per_sqft> (mn-st))  & (subdf.price_per_sqft <= (mn+st))]
        # We are concatenating both the created datframes
        df_output = pd.concat([df_output,gen_df],ignore_index=True)
        # We are concatenating beacuse gen df consists values which are delted but the indexes of each is not updated
        # So at the time of concatenation we ignore their index so proper indexing can be done 
    return df_output

In [ ]:
data= remove_sqft(data)  # applying the function

In [ ]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In this function we are just grouping it by the location then we are getting stats of each bhk in the location with the mean sd and count how many times it has come 
We are only grouping by location beacuse it will be the key by which someone will search the house from our model

In [ ]:
def remove_bhk(df):
    exclude_indices = np.array([]) # this array will store the indices that we do not require
    for location , location_df in df.groupby('location'):  # we are getting the location and its sub dataframe by this 
        bhk_stats={} # this will store the stats of the bhk
        for bhk, bhk_df in location_df.groupby('bhk'):  # we are now grouping the location df by bhk 
            bhk_stats[bhk]={                
                'mean': np.mean(bhk_df.price_per_sqft),  # this will store the mean 
                'std': np.std(bhk_df.price_per_sqft),  # the standard deviation
                'count': bhk_df.shape[0]  # the count of each bhk in  a location 
            }
        #print(location,bhk_stats)
        for bhk, bhk_df in location_df.groupby('bhk'):  # from here we will check that if the price per sq ft of higher value is starting from the mean value of the previous value  
          stats = bhk_df.get(bhk-1)
          if stats and stats['count']>5:  # here we check that if we have enough data to get the mean 
            exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values) # we are getting the indices here 
    return df.drop(exclude_indices,axis='index')  # returning the df with excluded index

In [ ]:
data = remove_bhk(data)

In [ ]:
data.drop(columns=['size','price_per_sqft'],inplace =True)  #dropping the columns which are not required

In [ ]:
data.to_csv("Cleaned_data.csv")  # saving the cleaned data as it will be used afterwards in the deployment part

In [ ]:
X = data.drop(columns=['price'])  #Getting the X for training 
y =data['price'] # Getting the y

#Library Import
Here library important for modelling are imported

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)  # Splitting the dataset

In [ ]:
print(X_train.shape)
print(X_test.shape)

(8240, 4)
(2061, 4)

In [ ]:
#This code is creating a `ColumnTransformer` object called `column_trans` that will transform the columns of a dataset.
# The transformation will apply one-hot encoding to the column named 'location' and leave all other columns unchanged (using `remainder='passthrough'`). 
#The `sparse=False` argument specifies that the output of the one-hot encoding should be a dense array rather than a sparse matrix.
column_trans = make_column_transformer((OneHotEncoder(sparse= False),['location']),remainder = 'passthrough')

In [ ]:
#`scaler = StandardScaler()` creates an instance of the `StandardScaler` class from the `sklearn.preprocessing` module. 
#This scaler is used to standardize the data by subtracting the mean and dividing by the standard deviation.
scaler = StandardScaler()

In [ ]:
#`lr = LinearRegression()` is creating an instance of the `LinearRegression` class from a machine learning library.
# This instance can be used to fit a linear regression model to a dataset and make predictions based on that model.
lr = LinearRegression()

In [ ]:
#`pipe = make_pipeline(column_trans, scaler, lr)` is creating a pipeline that will sequentially apply the transformations specified in `column_trans` and `scaler` to the input data, 
#and then fit a linear regression model (`lr`) to the transformed data. The resulting pipeline object (`pipe`) can be used to fit the model and make predictions on new data.
pipe = make_pipeline(column_trans,scaler,lr)

In [ ]:
pipe.fit(X_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [ ]:
y_pred_lr = pipe .predict(X_test)  # getting the prediction

In [ ]:
r2_score(y_test, y_pred_lr)  # getting the r2 score

0.8284621985687635

In [ ]:
lasso = Lasso()  #intializing the Lassao model

In [ ]:
pipe2 = make_pipeline(column_trans,scaler,lasso)  # making pipeline for it

In [ ]:
pipe2.fit(X_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [ ]:
y_pred_ls = pipe2.predict(X_test) # getting r2 and predictions
r2_score(y_test,y_pred_ls)

0.821316543187225

In [ ]:
ridge = Ridge()  # intializing the ridge model and making the pipeline 
pipe3 = make_pipeline(column_trans, scaler,ridge)

In [ ]:
pipe3.fit(X_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [ ]:
y_pred_rd = pipe3.predict(X_test)

In [ ]:
r2_score(y_test,y_pred_rd)

0.8284595107915464

In [ ]:
import joblib 
joblib.dump(pipe3, 'Ridge.pkl')  # dumping the best fit model

['Ridge.pkl']